/node_modules
/.env

# Prisma - exclure seulement les binaires lourds
/generated/prisma/*.node
/generated/prisma/query_engine-*

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Coverage Jest
/coverage/